<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div class="container">
<%= flash[:alert] %>
<br>
<%= link_to "New Task", new_question_path %>
<br>
<br>

<% @questions.each do |question| %>
  <div style="border: 1px solid black; background-color: #add8e6;">
    <h3>
      <%= question.content %>
    </h3>
    <%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %>
    <br>
    <% if can? :update, question %>
      <%= link_to "Edit", edit_question_path(question) %>
    <% end %>

    <% if can? :update, question %>
      <%= link_to "Delete", question, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if question.answers.any? %>
      <h4>Comments</h4>
      <%= render question.answers %>
    <% end %>
    <br>
    <p>Add Comments</p>
    <%= form_for([question, question.answers.build]) do |f| %>
      <%= f.text_area :content %><br>
      <%= submit_tag "Add" %> 
    <% end %>
    

  </div>
  <br>
  <br>
<% end %>
</div>
</body>
</html>